footer .container {
  margin: 60px auto;
  padding: 0 16px;
}

footer {
  padding: 0 16px;
}

footer .col {
  padding: 0;
}

@media (min-width: 992px) {
  footer .container {
    width: 1168px;
    margin-top: 150px;
    margin-bottom: 100px;
  }

  footer .copyright {
    padding-left: 30px;
  }
  footer .navigation {
    padding-left: 100px;
  }
}
