#main {
  background-color: #f1f3ff;
}
#main .container {
  width: 100%;
  background-color: #f1f3ff;
  margin-top: 72px;
}

#main .position-relative {
  width: 1440px;
}

.welcome {
  height: 407px;
}

.img-car {
  background-color: #f1f3ff;
  width: 100%;
}

.img-car img {
  right: 0;
  max-width: 704px;
  height: 407px;
}

.slogan {
  font-size: 2.25rem;
}

.welcome-text .fw-light {
  max-width: 468px;
}

@media (max-width: 992px) {
  .welcome-text {
    margin: 0;
  }
  .img-car img {
    max-width: 100%;
    height: auto;
    padding-left: 16px;
    background-color: #f1f3ff;
  }
  .welcome {
    height: fit-content;
    margin-top: 20px;
  }
}
