.navbar {
  background-color: #f1f3ff;
}

.container-fluid.navbar-content {
  width: 1168px;
}

#offcanvasNavbar-expand-lg {
  width: 50%;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .navbar-nav .btn {
    width: max-content;
    margin-top: 8px;
  }
  .navbar-nav {
    align-items: flex-start;
  }
}
